# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will install Deno and run tests across stable and canary builds on Windows, Ubuntu and macOS.
# For more information see: https://github.com/denoland/setup-deno

name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: git config
        run: |
          git config user.name "edram"
          git config user.email "edram@qq.com"
          echo //registry.npmjs.org/:_authToken=9239ee28-bdbd-49ea-8871-a77a7286d8a6 > .npmrc
      - run: cat .npmrc
      - run: yarn
      - run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.EDRAM_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
